<ion-tabs>

  <ion-tab-bar slot="bottom" class="tt-tab-bar">

    <ion-tab-button tab="scan" class="tt-tab-btn">
      <div class="tab-pip">
        <ion-icon name="qr-code-outline" class="tab-icon-svg"></ion-icon>
      </div>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <!-- Centre highlight tab (primary action) -->
    <ion-tab-button tab="scan" class="tt-tab-btn tt-tab-center" disabled>
      <div class="tab-fab">
        <ion-icon name="cut-outline"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="profile" class="tt-tab-btn">
      <div class="tab-pip">
        <ion-icon name="person-outline" class="tab-icon-svg"></ion-icon>
      </div>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
